@using System.Security.Claims;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HouseManagement</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HouseManagement.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark border-bottom box-shadow mb-3" style="background-color: #40513B">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Домоуправление</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end" id="menu">
                    @if (User.Identity.IsAuthenticated)
                    {
                        {
                            string role = "";
                            string authRole = User.Claims.FirstOrDefault(x => x.Type == ClaimTypes.Role)?.Value;
                            if (authRole == "MainAdmin") role = "Администратор домов";
                            if (authRole == "HouseAdmin") role = "Администратор ТСЖ";
                            if (authRole == "FlatOwner") role = "Владелец квартиры";
                            if (User.IsInRole("HouseAdmin"))
                            {
                                <ul class="navbar-nav">
                                    <li class="nav-item">
                                        <a class="nav-link text-light" asp-area="" asp-controller="Advertisement" asp-action="Index">Объявления</a>
                                    </li>
                                    <li>
                                        <a class="nav-link text-light" asp-area="" asp-controller="Counter" asp-action="Index">Счетчики</a>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            Данные по квартирам
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink" style="background-color: #40513B">
                                            <li><a class="dropdown-item text-light" asp-area="" asp-controller="FlatOwner" asp-action="Index">Владельцы квартир</a></li>
                                            <li><a class="dropdown-item text-light" asp-area="" asp-controller="Flat" asp-action="Index">Квартиры</a></li>
                                            <li><a class="dropdown-item text-light" asp-area="" asp-controller="Indication" asp-action="Index">Показания</a></li>
                                            <li><a class="dropdown-item text-light" asp-area="" asp-controller="Payment" asp-action="Index">Начисления</a></li>
                                            <li><a class="dropdown-item text-light" asp-area="" asp-controller="Complaint" asp-action="Index">Заявки</a></li>
                                        </ul>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-light" asp-area="" asp-controller="Service" asp-action="Index">Начисляемые услуги</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-light" asp-area="" asp-controller="User" asp-action="Index">Пользователи</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="Index">@role - Аккаунт</a>
                                    </li>

                                </ul>
                            }
                            if (User.IsInRole("FlatOwner"))
                            {
                                <ul class="navbar-nav">
                                    <li class="nav-item">
                                        <a class="nav-link text-light" asp-area="" asp-controller="Advertisement" asp-action="Index">Новости</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-light" asp-area="" asp-controller="Complaint" asp-action="Index">Заявки</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-light" asp-area="" asp-controller="IndicationFlatOwner" asp-action="Index">Показания</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-light" asp-area="" asp-controller="Payment" asp-action="Index">Начисления</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="Index">@role - Аккаунт</a>
                                    </li>
                                </ul>
                            }
                            if (User.IsInRole("MainAdmin"))
                            {
                                <ul class="navbar-nav">
                                    <li class="nav-item">
                                        <a class="nav-link text-light" asp-area="" asp-controller="House" asp-action="Index">Дома</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-light" asp-area="" asp-controller="User" asp-action="Index">Пользователи</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="Index">@role - Аккаунт</a>
                                    </li>
                                </ul>
                            }
                        }
                    }
                    else
                    {
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="Login">Выполнить вход</a>
                            </li>
                        </ul>
                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted" style="background-color: #40513B">
        <div class="container">
            <a class="nav-link text-light"></a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
